@page
@model ItRental.Web.Pages.RentersModel
@{
    ViewData["Title"] = "Renters";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Oversigt over lånere</h2>
<form asp-page="Renters" asp-page-handler="Search" class="search">
    <input asp-for="SearchName" placeholder="Søg efter låner" />
    <button type="submit">Søg</button>
</form>
<br />
<div class="content">
    <table>
        <tr>
            <th>Navn</th>
            <th>Rettighed</th>
        </tr>
        <tbody>
            @{
                foreach (Renter renter in Model.Renters)
                {
                    <tr>
                        <td>@renter.Name</td>
                        <td>@renter.TranslateRenterLevel()</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <br />
    <br />
    <p>@Model.Message</p>
    <h2>Opret ny låner</h2>
    <div class="form">
        <form asp-page="Renters">
            <label asp-for="Renter.Name"></label>
            <input asp-for="Renter.Name" />
            <select asp-for="Renter.RenterLevel">
                @{ 
                    foreach (Renter renter in Model.RenterLevels)
                    {
                        <option value="@renter.RenterLevel">@renter.TranslateRenterLevel()</option>
                    }
                }
            </select>
            <button type="submit">Opret</button>
        </form>
    </div>
</div>